body {
  background-image: url(images/geo-bg-1.gif);
  background-size: contain;
  color: pink;
  font-family: cursive;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  padding-left: 20%;
}

h1 {
  text-align: center;
}

.clip1 {
  clip-path: inset(100px 100px 100px 100px);
}

.clip2 {
  animation: clip2-anim 5s infinite alternate;
}

@keyframes clip2-anim {
  0% {clip-path: inset(0px 0px 0px 0px);}
  100% {clip-path: inset(300px 300px 300px 300px);}
}

.clip3 {
  clip-path: inset(0px 100px 400px 500px);
}

.clip4 {
  clip-path: ellipse(200px 200px at 20% 20%);
}

.clip5 {
  clip-path: ellipse(50px 200px at 80% 60%);
}

.clip6 {
  animation: clip6 7s infinite;
}

@keyframes clip6 {
  0% {clip-path: ellipse(100px 50px at 20% 20%)}
  25% {clip-path: ellipse(50px 100px at 80% 80%)}
  50% {clip-path: ellipse(100px 50px at 20% 80%)}
  75% {clip-path: ellipse(50px 100px at 80% 20%)}
  100% {clip-path: ellipse(100px 50px at 20% 20%)}
}

.clip7 {
  clip-path: polygon(68.38% 21.2%, 82.25% 2.36%, 84.63% 35.76%, 84.5% 54.75%, 75.63% 75.05%, 59.88% 78.07%, 40.00% 68.11%, 41% 30.92%, 40.38% 0.48%, 54.13% 20.18%);
}

.clip8 {
  animation: clip8 infinite 4s alternate;
}

@keyframes clip8 {
  0% {clip-path: polygon(50% 0%, 0% 100%, 100% 100%);}
  25% {clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);}
  50% {clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);}
  75% {clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);}
  100% {clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);}
}
