body {
  margin-left: 10vw;
  margin-right: 5vw;
  font-family: courier;
  background-image: url(images/geo-bg-5.gif);
  background-size: contain;
}

h1 {
  text-align: center;
}

.columns1 {
  columns: 3 100px;
}

.columns2 {
  columns: 10 200px;
}

.yt1 {
  width: 50vw;
  height: 25vw;
}
