body {
  background-image: url(images/geo-bg-14.gif);
}

.grid {
  display: grid;
  grid-template-areas:
    "head"
    "box";
}

.head {
  grid-area: head;
  display: grid;
  grid-template-areas:
    "dropdown dropdown2"
}

.box {
  grid-area: box;
  padding: 5%;
}

.dropdown {
  color: white;
  grid-area: dropdown;
}

button {
  background-color: red;
  color: white;
  font-family: impact;
  font-size: 30px;
  visibility: show;
}

h2 {
  color: black;
}

a {
  padding: 1%;
  text-decoration: none;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: green;
  color: white;
  padding: 1%;
  width: 200px;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown2 {
  grid-area: dropdown2;
  color: white;
}

.dropdown-content2 {
  position: absolute;
  z-index: 1;
  display: none;
  background-color: green;
  padding: 1%;
  width: 200px;
  border-radius: 10px;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}
