h1 {
  font-family: impact;
  text-align: center;
  font-size: 70px;
}

img {
  display: block;
  margin-left: auto;
  margin-right:auto;
  width: 40%;
}

body {
  background-image: url(images/levels.jpg);
  background-size: 100%;
  font-size: 16px;
  color: white;
  text-shadow: black 1px 1px;
  font-family: courier;
}

a {
  color: green;
}

table, td, th {
  border: maroon solid 2px;
  font-size: 22px;
}
