h1 {
  text-align: center;
}

.container {
  position: relative;
  width: 59.5%;
}

.image {
  display: block;
  width: 100%;
}

.overlay {
  background-color: #ff9b44;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.container:hover .overlay{
  opacity: 1;
}

.text {
  color: white;
  font-family: impact;
  font-size: 30px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}
