.grid {
  display: grid;
  grid-template-areas:
    "box1"
    "box2"
    "box3"
    "box4"
    "box5"
    "box6"
    "box7";
}

.box1 {
  grid-area: box1;
  border: orange 5px solid;
  display: grid;
  grid-template-areas:
    "logo headlink1 headlink1 headlink1";
}

.logo {
  grid-area: logo;
  border: purple 5px solid;
}

.headlink1 {
  grid-area: headlink1;
  border: purple 5px solid;
}

.box2 {
  grid-area: box2;
  border: orange 5px solid;
  display: grid;
  grid-template-areas:
    "headline1 headline2";
}

.headline1 {
  grid-area: headline1;
  border: purple 5px solid;
}

.headline2 {
  grid-area: headline2;
  border: purple 5px solid;
}




.box4 {
  grid-area: box4;
  border: orange 5px solid;
}

.box5 {
  grid-area: box5;
  border: orange 5px solid;
  display: grid;
  grid-template-areas:
    "trans1 trans2";
}

.trans1 {
  grid-area: trans1;
  border: purple 5px solid;
}

.trans2 {
  grid-area: trans2;
  border: purple 5px solid;
}

.box6 {
  grid-area: box6;
  border: orange 5px solid;
  grid-template-areas:
    "cta1"
    "ctabutton";
}

.cta1 {
  grid-area: cta1;
  border: purple 5px solid;
}

.ctabutton {
  grid-area: ctabutton;
  border: purple 5px solid;
}

.box7 {
  grid-area: box7;
  border: orange 5px solid;
}
