body {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-areas:
    "box1"
    "box2"
    "box3"
    "box4"
    "box5"
    "box6"
    "box7";
}

h1 {
  font-family: 'Ruda', sans-serif;
  color: #010639;
}

h2 {
  font-family: 'Ruda', sans-serif;
  color: #010639;
}

p {
  font-family: 'Port Lligat Slab', serif;
  font-size: 20px;
  color: #010639;
}

.box2 {
  grid-area: box2;
  display: grid;
  grid-template-areas:
    "headline2 headline1";
  background-image: url(images/oot-splash.jpg);
  background-position: center;
  background-size: cover;
  padding: 5%;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 4em;
  padding-right: 4em;
}

.box2 h2 {
  color: white;
}

.headline1 {
  grid-area: headline1;
  display: block;
  margin: auto;
  padding: 10%;
}

.headline1 img {
  width: 30vw;
}

.headline2 {
  grid-area: headline2;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 35px;
  line-height: 70px;
}

.box3 {
  grid-area: box3;
  display: grid;
  background-color: #f2e0cf;
  text-align: center;
  grid-template-areas:
    "sp0 sp0 sp0 sp0"
    "sp1 sp2 sp3 sp4";
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 4em;
  padding-right: 4em;
  grid-column-gap: 4em;
  align-items: center;
}

.logoimg {
  width: 100%;
}

.sp0 {
  grid-area: sp0;
}

.sp1 {
  grid-area: sp1;
}

.sp2 {
  grid-area: sp2;
}

.sp3 {
  grid-area: sp3;
}

.sp4 {
  grid-area: sp4;
}


.box4 {
  grid-area: box4;
  padding: 3%;
  padding-top: 6em;
  padding-bottom: 6em;
  padding-left: 4em;
  padding-right: 4em;
}

.box5 {
  grid-area: box5;
  display: grid;
  background-color: #f5f5fc;
  grid-template-areas:
    "trans1 trans2 trans2 trans2";
  padding-top: 6em;
  padding-bottom: 6em;
  padding-left: 4em;
  padding-right: 4em;
}

.trans1 {
  grid-area: trans1;
  padding: 5%;
}

.trans2 {
  grid-area: trans2;
  padding: 3%;
  display: grid;
  grid-gap: 15px;
  align-items: center;
  grid-template-areas:
    "pic1 pic2"
    "pic1 pic3"
}

.trans2 img {
  width: 30vw;
}

.pic1 {
  grid-area: pic1;
}

.pic2 {
  grid-area: pic2;
}

.pic3 {
  grid-area: pic3;
}

.box6 {
  grid-area: box6;
  text-align: center;
  grid-template-areas:
    "cta1"
    "ctabutton";
    padding-top: 6em;
    padding-bottom: 6em;
}

.cta1 {
  grid-area: cta1;
  padding-left: 20%;
  padding-right: 20%;
}

.ctabutton {
  grid-area: ctabutton;
  background-color: #5c6ac4;
  width: 150px;
  padding: 1%;
  border-radius: 10px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
}

.ctabutton p {
  color: white;
}

.box7 {
  grid-area: box7;
  background-color: #010639;
  text-align: center;
}

.box7 p {
  color: white;
}

a {
  text-decoration: none;
  color: #919eab;
}
