body {
  background-image: url(images/psx-produce.jpg);
  background-size: cover;
}

.shelf {
  position: relative;
  transform: translate(3vw, 10vw);
  width: 50vw;
  z-index: -5;
}

.game1 {
  position: relative;
  transform: translate(-30vw, -23vw);
  width: 5vw;
  z-index: 1;
  animation: game1 3s infinite;
  animation-direction: alternate;
  animation-delay: 2s;
  animation-timing-function: linear;
}

@keyframes game1 {
  0% {transform: translate(-30vw, -23vw);}
  100% {transform: translate(30vw, -23vw);}
}

.game2 {
  position: relative;
  transform: translate(-28vw, -23vw);
  width: 5vw;
  z-index: 1;
  animation: game2 1.5s infinite alternate;
  animation-delay: 2s;
  animation-timing-function: linear;
}

@keyframes game2 {
  0% {transform: translate(-28vw, -23vw) scale(1);}
  100% {transform: translate(28vw, 5vw) scale(2);}
}

.game3 {
  position: relative;
  transform: translate(-45vw, -29vw);
  width: 5vw;
  z-index: 1;
  animation: game3 2s infinite alternate;
  animation-delay: 2s;
  animation-timing-function: linear;
}

@keyframes game3 {
  0% {transform: translate(-45vw, -29vw) rotateZ(0deg);}
  50% {transform: translate(20vw, -50vw) rotateZ(50deg);}
  100% {transform: translate(-20vw, 5vw) rotateZ(360deg);}
}

.game4 {
  position: relative;
  transform: translate(-40vw, -29vw);
  width: 5vw;
  z-index: 1;
  animation: game4 7s infinite alternate;
  animation-delay: 2s;
  animation-timing-function: linear;
}

@keyframes game4 {
  0% {transform: translate(-40vw, -29vw) rotatey(0deg);}
  50% {transform: translate(-40vw, 5vw) rotatey(360deg);}
  75% {transform: translate(-20vw, -45vw) rotatez(180deg);}
  100% {transform: translate(20vw, -42vw) rotatez(5000deg);}
}

.game5 {
  position: relative;
  transform: translate(-37vw, -28.5vw);
  width: 5vw;
  z-index: 1;
  animation: game5 6s infinite alternate;
  animation-delay: 2s;
  animation-timing-function: ease-in;
}

@keyframes game5 {
  0% {transform: translate(-37vw, -28.5vw) scale(1) rotateY(0deg);}
  50% {transform: translate(-70vw, -60vw) scale(2) rotateY(360deg);}
  100% {transform: translate(-40vw, 10vw) scale(1.4) rotateY(1080deg);}
}

.game6 {
  position: relative;
  transform: translate(-35vw, -28vw);
  width: 5vw;
  z-index: 1;
  animation: game6a 2s infinite alternate, game6b 4s infinite alternate;
  animation-delay: 2s;
  animation-timing-function: ease-out;
}

@keyframes game6a {
  0% {transform: translate(-35vw, -28vw) scale(1);}
  100% {transform: translate(-28vw, -35vw) scale(2);}
}

@keyframes game6b {
  0% {border: teal 0px solid; border-radius: 0px;}
  100% {border: yellow 3px solid; border-radius: 100px;}
}

h1 {
  text-align: center;
}
