body {
  margin: 0;
}

.grid{
  display: grid;
  grid-template-areas:
    "head head head head"
    "lframe main main main"
    "foot foot rframe rframe";
  background-color: #daa831;
}

.head {
  border-image: 10px transparent solid;
  border-image: url(images/ad-1.jpg) 30 round;
  grid-area: head;
}

.main {
  border: 5px red solid;
  grid-area: main;
}

.lframe {
  border: 5px red solid;
  grid-area: lframe;
}

.rframe {
  border: 5px red solid;
  grid-area: rframe;
}

.foot {
  border: 5px red solid;
  grid-area: foot;
}
