.grid {
  display: grid;
  grid-template-areas:
    "head head head"
    "main main main"
    "boxes boxes boxes"
    "foot foot foot";
}

.head {
  border: 10px solid red;
  grid-area: head;
  padding: 7%;
  background-image: url(images/samurai-minamoto-no-yoshitsune.jpg);
}

table {
  text-align: center;
  color: white;
  text-shadow: black 2px 2px;
}

table img {
  height: 5vw;
}

.main {
  border: 10px solid red;
  grid-area: main;
  color: white;
  text-shadow: black 2px 2px;
  background-image: url(images/pizza-new-york.jpg);
}

.boxes {
  border: 10px solid red;
  grid-area: boxes;
  display: grid;
  grid-template-areas:
    "samurai pizza cats"
}

.samurai {
  border: 10px solid red;
  grid-area: samurai;
  white-space: nowrap;
  overflow: auto;
}

.samurai img {
  height: 20vw;
}

li {
  display: inline-block;
}

.pizza {
  border: 10px solid red;
  grid-area: pizza;
  white-space: nowrap;
  overflow: auto;
}

.pizza img {
  height: 20vw;
}

.cats {
  border: 10px solid red;
  grid-area: cats;
  white-space: nowrap;
  overflow: auto;
}

.cats img {
  height: 20vw;
}

.foot {
  border: 10px solid red;
  grid-area: foot;
  background-image: url(images/cats-maine-coon.jpg);
  color: white;
  text-shadow: black 2px 2px;
}
