body {
  margin: 0;
}

h2 {
  font-family: 'Poller One', cursive;
}

h3 {
  font-family: 'Poller One', cursive;
}

p {
  font-family: 'Farsan', cursive;
}

.grid {
  display: grid;
  grid-template-areas:
    "box2"
    "box3"
    "box4"
    "box5"
    "box6"
    "box7";
  color: #F1E9DA;
}

.box2 {
  grid-area: box2;
  display: grid;
  grid-template-areas:
    "headline1 headline2";
  background-color: #D90368;
  color: #F1E9DA;
}

.headline1 {
  grid-area: headline1;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 6em;
  padding-bottom: 6em;
}

.headline1 img {
  width: 40vw;
}

.headline2 {
  grid-area: headline2;
  font-size: 35px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.box3 {
  grid-area: box3;
  display: grid;
  grid-template-areas:
    "sp0"
    "sp1";
  background-color: #2E294E;
  color: #F1E9DA;
  padding: 4%;
}

.sp0 {
  grid-area: sp0;
  text-align: center;
}

.sp1 {
  grid-area: sp1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.sp1 img {
  height: 12vw;
}


.box4 {
  grid-area: box4;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 4em;
  padding-bottom: 4em;
  font-size: 30px;
  background-color: #541388;
}

.box5 {
  grid-area: box5;
  display: grid;
  grid-template-areas:
    "trans1 trans2";
  background-color: #FFD400;
}

.trans1 {
  grid-area: trans1;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 4em;
  padding-bottom: 4em;
  font-size: 30px;
}

.trans2 {
  grid-area: trans2;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 4em;
  padding-bottom: 4em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.trans2 img {
  width: 400px;
}

.box6 {
  grid-area: box6;
  grid-template-areas:
    "cta1"
    "ctabutton";
  background-color: #D90368;
}

.cta1 {
  grid-area: cta1;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 30px;
}

.ctabutton {
  grid-area: ctabutton;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 20px;
  margin-top: 2%;
  margin-bottom: 10%;
  font-size: 40px;
  background-color: #FFD400;
  padding: 1px;
}

.box7 {
  grid-area: box7;
  text-align: center;
  padding: 1%;
  background-color: #2E294E;
}
