.grid {
  display: grid;
  grid-template-areas:
    "head"
    "main"
    "biglist"
    "foot"
}

.head {
  border: green 5px dotted;
  grid-area: head;
}

.main {
  border: green 5px dotted;
  grid-area: main;
}

.biglist {
  border: green 5px dotted;
  grid-area: biglist;
}

.scroll {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  height: auto;
  white-space: nowrap;
  overflow: auto;
}

.foot {
  border: green 5px dotted;
  grid-area: foot;
}
