.grid {
  display: grid;
  grid-template-areas:
    "head head head"
    "lframe main main"
    "lframe main main"
    "lframe main2 main2"
    "foot foot foot"

}

.head {
  border: green solid 5px;
  grid-area: head;
}

.lframe {
  border: green solid 5px;
  grid-area: lframe;
}

.main {
  border: green solid 5px;
  grid-area: main;
}

.main2 {
  border: green solid 5px;
  grid-area: main2;
  display: grid;
  grid-template-areas:
    "book1 book2 book3"
    "book4 book5 book6"
    "book7 book8 book9"
    "book10 book10 book10"
}

.book1 {
  grid-area: book1;
}

.book2 {
  grid-area: book2;
}

.book3 {
  grid-area: book3;
}

.book4 {
  grid-area: book4;
}

.book5 {
  grid-area: book5;
}

.book6 {
  grid-area: book6;
}

.book7 {
  grid-area: book7;
}

.book8 {
  grid-area: book8;
}

.book9 {
  grid-area: book9;
}

.book10 {
  grid-area: book10;
}

.foot {
  border: green solid 5px;
  grid-area: foot;
}
