@font-face {
  font-family: creep;
  src: url(https://fonts.gstatic.com/s/creepster/v7/AlZy_zVUqJz4yMrniH4Rcn35fh4Dog.woff2);
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.grid {
  font-family: rockwell;
  display: grid;
  grid-template-areas:
    "head head head"
    "lframe main main"
    "lframe main main"
    "lframe main2 main2"
    "foot foot foot";
}

@media only screen and (max-width: 1000px)  {
  .grid {
    grid-template-areas:
      "head head"
      "lframe lframe"
      "main main"
      "main main"
      "main2 main2"
      "foot foot";
  }

  .lframe {
    display: flex;
    padding: 10px;
    font-size: 20px;
    flex-flow: column;
  }

}

.head {
  grid-area: head;
  text-align: center;
  text-shadow: 3px 3px #32ff1c;
  font-size: 40px;
  color: purple;
  background-image: url(images/shiverspines-ghost-bg.jpg);
  background-size: 100px;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  font-family: creep;
}

h2 {
  font-family: creep;
  text-shadow: 2px 2px #32ff1c;
}

h3 {
  font-family: creep;
  text-shadow: 2px 2px #32ff1c;
}

.lframe {
  grid-area: lframe;
  padding: 5%;
  background-image: url(images/shiverspines-ghost-bg.jpg);
  background-size: 100px;
  color: purple;
  font-size: 20px;
}

.main {
  grid-area: main;
  padding: 5%;
  font-size: 30px;
  background-image: url(images/shiverspines-ghost-bg.jpg);
  background-size: 100px;
}

.main2 {
  border: ridge #32ff1c 15px;
  grid-area: main2;
  display: grid;
  font-size: 20px;
  background-image: url(images/shiverspines-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  grid-template-areas:
    "main2title main2title main2title"
    "book1 book2 book3"
    "book4 book5 book6"
    "book7 book8 book9"
    "book10 book10 book10";
}

.nav {
  position: sticky;
  top: 70px;
}

.bookimg {
  display: block;
  width: 100%;
  height: auto;
}

.main2title {
  text-align: center;
  grid-area: main2title;
}

.book1 {
  grid-area: book1;
  position: relative;
}

.overlay1 {
  position: absolute;
  background-color: purple;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

.book1:hover .overlay1 {
  opacity: 1;
}

.book2 {
  grid-area: book2;
  position: relative;
}

.overlay2 {
  position: absolute;
  background-color: purple;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

.book2:hover .overlay2 {
  opacity: 1;
}

.book3 {
  grid-area: book3;
  position: relative;
}

.overlay3 {
  position: absolute;
  background-color: purple;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

.book3:hover .overlay3 {
  opacity: 1;
}

.book4 {
  grid-area: book4;
  padding: 5%;
}

.book5 {
  grid-area: book5;
  padding: 5%;
}

.book6 {
  grid-area: book6;
  padding: 5%;
}

.book7 {
  grid-area: book7;
  padding: 5%;
}

.book8 {
  grid-area: book8;
  padding: 5%;
}

.book9 {
  grid-area: book9;
  padding: 5%;
}

.book10 {
  grid-area: book10;
  padding: 5%;
  text-align: center;
  font-size: 50px;
}

.foot {
  grid-area: foot;
  padding: 2%;
  background-image: url(images/shiverspines-ghost-bg.jpg);
  background-size: 100px;
}
