h1 {
  text-align: center;
}

.gallery {
  border: skyblue 3px solid;
}

.gallery:hover {
  border: blue 3px solid;
}

.gallery img {
  height: auto;
  width: 100%;
}

.responsive {
  width: 25%;
  float: left;
  padding: 6px 0;
}

@media only screen and (max-width: 1000px) {
  .responsive {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
