.grid {
  display: grid;
  grid-template-areas:
    "head head head"
    "tv1 tv2 tv3"
    "tv4 tv4 tv5"
    "tv4 tv4 tv6"
}

.head {
  border: red 5px dotted;
  grid-area: head;
}

.tv1 {
  border: red 5px dotted;
  grid-area: tv1;
  position: relative;
}

.overlay1 {
  width: 350px;
  position: absolute;
  z-index: 3;
  top: -10px;
  left: 10px;
}

.tvimg1 {
  width: 300px;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 25px;
}

.tv2 {
  border: red 5px dotted;
  grid-area: tv2;
  position: relative;
}

.overlay2 {
  width: 350px;
  position: absolute;
  z-index: 5;
  top: -10px;
  left: 100px;
}

.tvimg2 {
  width: 280px;
  position: absolute;
  z-index: 4;
  top: 20px;
  left: 120px;
}

.tv3 {
  border: red 5px dotted;
  grid-area: tv3;
  position: relative;
}

.overlay3 {
  width: 350px;
  position: absolute;
  z-index: 7;
  top: -10px;
  left: 200px;
}

.tvimg3 {
  width: 300px;
  position: absolute;
  z-index: 6;
  top: 20px;
  left: 220px;
}

.tv4 {
  border: red 5px dotted;
  grid-area: tv4;
  position: relative;
}

.overlay4 {
  width: 600px;
  position: absolute;
  z-index: 9;
  top: 250px;
  left: 1px;
}

.tvimg4 {
  width: 500px;
  position: absolute;
  z-index: 8;
  top: 309px;
  left: 25px;
}

.tv5 {
  border: red 5px dotted;
  grid-area: tv5;
  position: relative;
}

.tv6 {
  border: red 5px dotted;
  grid-area: tv6;
  position: relative;
}
