body {
  background-image: url(https://media.giphy.com/media/OVlFjmEDhx9rG/giphy.gif);
  color: white;
  font-family: impact;
  text-align: center;
  font-size: 30px;
}

.grid {
  display: grid;
  grid-template-areas:
    "head head head"
    "tv1 tv2 tv3"
    "tv4 tv4 tv5"
    "tv4 tv4 tv6"
}

.head {
  grid-area: head;
}

.tv1 {
  grid-area: tv1;
  position: relative;
}

.overlay1 {
  width: 350px;
  position: absolute;
  z-index: 3;
  top: -10px;
  left: 10px;
}

.tvimg1 {
  width: 300px;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 25px;
}

.tv2 {
  grid-area: tv2;
  position: relative;
}

.overlay2 {
  width: 350px;
  position: absolute;
  z-index: 5;
  top: -10px;
  left: 20px;
}

.tvimg2 {
  width: 280px;
  position: absolute;
  z-index: 4;
  top: 20px;
  left: 32px;
}

.tv3 {
  grid-area: tv3;
  position: relative;
}

.overlay3 {
  width: 350px;
  position: absolute;
  z-index: 7;
  top: -10px;
  left: 20px;
}

.tvimg3 {
  width: 300px;
  position: absolute;
  z-index: 6;
  top: 20px;
  left: 32px;
}

.tv4 {
  grid-area: tv4;
  position: relative;
}

.overlay4 {
  width: 710px;
  position: absolute;
  z-index: 9;
  top: 250px;
  left: 1px;
}

.tvimg4 {
  width: 550px;
  position: absolute;
  z-index: 8;
  top: 340px;
  left: 25px;
}

.tv5 {
  grid-area: tv5;
  position: relative;
}

.overlay5 {
  width: 350px;
  position: absolute;
  z-index: 7;
  top: 280px;
  left: 20px;
}

.tvimg5 {
  width: 300px;
  position: absolute;
  z-index: 6;
  top: 315px;
  left: 32px;
}

.tv6 {
  grid-area: tv6;
  position: relative;
}

.overlay6 {
  width: 350px;
  position: absolute;
  z-index: 7;
  top: 500px;
  left: 20px;
}

.tvimg6 {
  width: 300px;
  position: absolute;
  z-index: 6;
  top: 530px;
  left: 32px;
}

.back {
  position: absolute;
  top: 1000px;
  left: 32px;
}

a {
  color: white;
  font-size: 40px;
  text-decoration: none;
}
