body {
  background-image: repeating-radial-gradient(purple, teal, white 1vw);
  background-size: 100vw;
  padding-top: 10%;
  padding-bottom: 10%;
  animation: change 1s infinite linear alternate;
  color: white;
  font-size: 20px;
  font-family: impact;
}

@keyframes change {
  0% {background-image: repeating-radial-gradient(purple, teal, black 1vw);}
  25% {background-image: repeating-radial-gradient(purple, teal, black 3vw);}
  50% {background-image: repeating-radial-gradient(purple, teal, black 5vw);}
  75% {background-image: repeating-radial-gradient(purple, teal, black 7vw);}
  100% {background-image: repeating-radial-gradient(purple, teal, black 9vw);}

}

.grid {
  display: grid;
  grid-template-areas:
    "box1 box1 box1"
    "box2 box3 box4";
  margin-left: 10%;
  margin-right: 10%;
  grid-gap: 10px;
}

@media only screen and (max-width: 1200px) {
  .grid {
    grid-template-areas:
      "box1 box1"
      "box2 box3"
      "box4 box4";
  }
}

@media only screen and (max-width: 700px) {
  .grid {
    grid-template-areas:
      "box1"
      "box2"
      "box3"
      "box4";
  }
}

@keyframes boxes {
  0% {transform: scale(0.9);}
  100% {transform: scale(1.05);}
}

.box1 {
  grid-area: box1;
  border: purple solid 10px;
  border-radius: 30px;
  animation: boxes 2s infinite alternate;
}

.box2 {
  grid-area: box2;
  border: purple solid 10px;
  border-radius: 30px;
  padding: 5%;
  animation: boxes 2s infinite alternate;
}

.box3 {
  grid-area: box3;
  border: purple solid 10px;
  border-radius: 30px;
  padding: 5%;
  animation: boxes 2s infinite alternate;
}

.box3 img {
  width: 70%;
}

.box4 {
  grid-area: box4;
  border: purple solid 10px;
  border-radius: 30px;
  padding: 5%;
  animation: boxes 2s infinite alternate;
}

h1 {
  text-align: center;
}
